<div class="ui feed">
  <div class="event">
    <div class="content">
      <div class="summary">
        <em>Tim Denning</em>: Test message
      </div>
    </div>
  </div>
    <div class="event">
    <div class="content">
      <div class="summary">
        <em>Tim Denning</em>: Test message
      </div>
    </div>
  </div>
    <div class="event">
    <div class="content">
      <div class="summary">
        <em>Tim Denning</em>: Test message
      </div>
    </div>
  </div>
</div>