<div class="ui stackable menu">
    <div class="item">
        <%= link_to "", root_path, class: "far fa-comment fa-2x no-link-style" %>
    </div>
    <%= link_to "Home", root_path, class: "item no-link-style" %>    
    <a class="item">
        Messages
    </a>
    <div class="right menu">
        <div class="ui dropdown item">
            Language <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item">English</a>
                <a class="item">Russian</a>
                <a class="item">Spanish</a>
            </div>
        </div>
        <div class="item">
                <%= link_to "Sign Up", new_model_registration_path, class: "ui primary button" %>
        </div>
    </div>
</div>