<h4 class="ui center aligned medium icon header">
  <i class="circular blue coffee icon"></i>
  Say Something
</h4>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
          <div class="content" id="messages">
            <div class="ui feed" id="message-container">
              <%= render @messages %>
            </div>
          </div>
          <div class="extra content">
            <!-- <form class="ui reply form"> -->
            <%= form_for(@message, html: { class: "ui reply form", role: "form" }, url: message_path, remote: true) do |f| %>
                <div class="field">
                    <div class="ui large transparent left icon input">
                        <i class="heart outline icon"></i>
                        <!-- <input type="text" placeholder="Say something..."> -->
                        <%= f.text_field :body, placeholder: "Say something...", autocomplete: "off" %>
                        <%= f.button '<i class="icon paper plane"></i>'.html_safe, class: "ui gray submit icon button", id: "submit_button" %>
                    </div>
                </div>
            <% end %>
            <!-- </form> -->
          </div> 
        </div>
    </div>


    <div class="four wide column">
        <div class="ui secondary vertical menu">
          <a class="active item">
            Account
          </a>
          <a class="item">
            Settings
          </a>
          <div class="ui dropdown item">
            <i class="dropdown icon"></i>
            Display Options
            <div class="menu">
              <div class="header">Text Size</div>
              <a class="item">Small</a>
              <a class="item">Medium</a>
              <a class="item">Large</a>
            </div>
          </div>
        </div>
    </div>

</div>