.vertical-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-link-style {
    text-decoration: none;
    color: inherit;
}

.no-link-style:hover {
    color: inherit;
}

.chatbox {
    height: 50vh;
}

.scrollable {
    overflow-x: hidden; 
    overflow-y: auto;
    padding: 20px;
}